/* CSS styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* Updated background color */
    color: white;
    background-image: url('chair-with-table.jpg'); /* Add your image path here */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ensure full height */
    display: flex;
    flex-direction: column;
    align-items: center;
  overflow: hidden;
  
}

header {
  position: absolute;
  top:19%;
    text-align: center;
    padding: 20px;
  color: black;
}

.container {
  position: relative;
  top:20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding-top: 50px; /* Adjust padding top as needed */
}

.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Updated background color */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px; /* Adjust the margin between entries */
}

input[type="text"],
input[type="password"],
button {
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.9); /* Updated background color */
    color: #928b8b;
}

button {
    cursor: pointer;
}

#anchAlr{
  color:#c2c9ff;
  
}
#anchAlr:visted{
  color:#aeb6f4;
}
#anchAlr:hover{
  color:#92a2b0;
}